[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
deprecation_warnings = False
command_warnings = False

# Avoid WSL world-writable directory warnings
remote_tmp = /tmp

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=15 -o ServerAliveCountMax=4 -o ControlMaster=auto -o ControlPersist=10m
retries = 3
