ui = {{ vault_ui_enabled | bool | lower }}
disable_mlock = {{ vault_disable_mlock | bool | lower }}

storage "file" {
  path = "{{ vault_data_dir }}"
}

listener "tcp" {
  address     = "{{ vault_listener_address }}"
  tls_disable = 1
}

api_addr = "{{ vault_api_addr }}"
cluster_addr = "{{ vault_cluster_addr }}"
