[ceph_nodes]
%{ for node in nfs_nodes ~}
${node.name} ansible_host=${node.public_ip} ip=${node.private_ip} ansible_ssh_private_key_file=${ansible_ssh_private_key_file}
%{ endfor ~}

[nfs_clients]
%{ for node in control_plane_nodes ~}
${node.name} ansible_host=${node.public_ip} ip=${node.private_ip} ansible_ssh_private_key_file=${ansible_ssh_private_key_file}
%{ endfor ~}
%{ for node in worker_nodes ~}
${node.name} ansible_host=${node.public_ip} ip=${node.private_ip} ansible_ssh_private_key_file=${ansible_ssh_private_key_file}
%{ endfor ~}

[all:vars]
ansible_user=${ansible_user}
ansible_python_interpreter=${ansible_python_interpreter}
ansible_ssh_extra_args='${ansible_ssh_extra_args}'
